*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
}

nav{
    background-color: #E6EFDB;
}
.contenedorImagenUsuario{
    border-radius: 10px;
    width: 60px;
    height: 60px;
}
.userAvatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
}
#sidebarMenu{
    height: 90vh;
    background-color: #E6EFDB;
    width: 250px !important;
}
#userContentHeader{
    
    background-color: white;
}
.menuItem:hover{
    background-color: rgb(238, 238, 238) !important;
}
.btn{
    width: 100px;
    height: 100px;
    background-color: #353432;
    transition: all .5s;
}
.btn:hover{
    width: 110px;
    height: 110px;
    background-color: #1c1b1b;
}
.btn > .buttonIcon{
    color:#94BA65;
}